/* Estilo base */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}

/* Cabeçalho */
header {
  background-color: #1f1f1f;
  padding: 15px 0;
  text-align: center;
}

.nav-bar a {
  margin: 0 15px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.nav-bar a:hover {
  text-decoration: underline;
}

/* Títulos e textos */
.titulo-nome {
  max-width: 700px;
  margin: 50px auto;
  text-align: center;
  padding: 0 20px;
}

.titulo-nome p{
  padding-top: 5px;
}

.bem-vindo {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Ícones */
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  fill: white;
}

.icon {
  width: 90px;
  height: 90px;
}

/* Rodapé */
footer {
  background-color: #1f1f1f;
  text-align: center;
  padding: 15px 0;
  margin-top: 40px;
  font-size: 14px;
}
